*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
}

.container{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.logo{
    width: 70px;
    transition: 0.7s;
    cursor: pointer;
}

.logo:hover{
    opacity: 0.6 ;
}

ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 400;
    font-size: 24px;
}

ul li a:hover{
    opacity: 0.7;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
}

.content .image .img{
    transition: 0.5s;
    cursor: pointer;
}

.content .image .img:hover{
    width: 80%;
    transform:scale(1.1) ;
    
}

.content .text{
    width: 40%;
    color:white;
}


.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}

.content .text p{
    font-size: 18px;
    margin: 20px 0;
    line-height: 20px;
    
}

.content .text a{
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bolder;
    border-color: #fff;
}

.content .text a:hover{
    scale: (1.1);
    font-style: bold;
    opacity: 0.9;
}


.content .image{
    width: 30%;
}
.content .image img{
    width: 80%;
}

.icons{
    position: absolute;
    bottom: 20px;
    left:500px;
}

.icons img {
    width: 90px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
    /* margin-top: 70px; */
}

.icons img:hover{
    transform: scale(1.1);
}

/* Media Screen */

@media  (max-width: 1300px)  {
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 20px;
        padding: 0 ;
        margin-top: 5px;
        
    }
    .logo{
        width: 60px;
        margin: 0 0 ;
        font-size: 12px;
    }
    ul li a{
        font-size: 18px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 90%;
    }
    .content .text{
        width: 100%;
        margin-top: 20%;
    }
    .content .text h2{
        font-size: 28px;
        
    }
    .content .text p{
        font-size: 16px;
        line-height: 25px;
    }
    .content .text a{
        font-size: 26px;
    }
    .content .image img{
        width: 100%;
    }
    .icons  {
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;}

    .icons img {
        width: 60px;
        margin-top: 30px;
}
}


    @media (min-width: 900px) and (max-width: 1300px) {
    
        ul li a{
            font-size: 35px;
        }
        .content .text h2{
            font-size: 50px;
        }
        .logo{
            width: 90px;
            margin: 0 0 ;
            font-size: 12px;
        }

    .content .text p{
        font-size: 35px;
        line-height: 55px;
    }
        .icons img {
        width: 100px;
}
    }